body {
  font-family: 'Open Sans', sans-serif;
    text-align: center;
}

header h1 {
  font-size: 10vh;
  margin-top: 0vh;
}

p {
  font-size: 2.2vh;
}

header p {
  margin-top: -7vh;
}

.blue {
  color: rgb(0,0,240);
}

.bluer {
  color: rgb(0,0,140);
}

.bluest {
  color: rgb(0,0,80);
}
